<div class="form-container">
<h1>Feel at home, anywhere</h1>
<Legend>Sign Up for Makers BnB</Legend>
<form action="/users/new" method="post">
  <fieldset>
      <label for="first_name">First Name</label>
      <input type="text" class="form-field" name="first_name" placeholder="Enter First Name">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-field"  name="last_name" placeholder="Enter Last Name"><br>
      <label for="email">Email Address</label>
      <input type="email"  class="form-field" name="email" placeholder="Enter Email"><br>
      <label for="password" placeholder="Enter Password">Password</label>
      <input type="password" class="form-field"  name="password"><br>
    <button type="submit" class="btn-primary">Submit</button>
  </fieldset>
</form>
</div>
