<div class="form-container">
<h1 class="centered-heading ">Feel at home, anywhere</h1>
<form action="/users/register" method="post">
  <Legend><h3 class="centered-heading ">Sign Up for Makers BnB</h3></Legend>
  <fieldset>
      <label for="first_name">First Name</label><br>
      <input type="text" class="form-field" name="first_name" placeholder="Enter First Name"><br>
      <label for="last_name">Last Name</label><br>
      <input type="text" class="form-field" name="last_name" placeholder="Enter Last Name"><br>
      <label for="email">Email Address</label><br>
      <input type="email"  class="form-field" name="email" placeholder="Enter Email"><br>
      <label for="password">Password</label><br>
      <input type="password" placeholder="Enter Password" class="form-field" name="password"><br>
      <label for="password2">Confirm Password</label><br>
      <input type="password" class="form-field" name="password2" placeholder="Confirm Password"><br>
    <button id="sign_up" type="submit" class="btn-primary">Sign Up</button>
  </fieldset>
</form>
</div>
