<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel='stylesheet' type='text/css' href='/style.css' />
     <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet"/>
    <title>Makers BnB</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-list">
      <li class="navbar-item">
        <a id='home-link' class="navbar-link" href="/">Home</a>
      </li>
      <li class="navbar-item">
        <a id='login-link' class="navbar-link" href="/users/login">Login</a>
      </li>
    </ul>
  </nav>
  <div class="container"><%- body %></div>
  </body>
</html>
