<div class="form-container">
  <% if (signupMessage != "") { %>
    <p class="alert-message success"> <%=signupMessage %></p>
  <% } %>
<Legend><h2 class="centered-heading ">Log in</h2></Legend>
<form action="/users/login" method="post">
  <fieldset>
      <label for="email">Email Address</label>
      <input type="email" class="form-field" name="email" placeholder="Enter Email"><br>
      <label for="password">Password</label>
      <input type="password" class="form-field" name="password" placeholder="Enter Password"><br>
    <button id="login-btn" type="submit" class="btn-primary">Login</button>
  </fieldset>
</form>
</div>
