<div class="form-container">
<Legend>Log in</Legend>
<form action="/users/login" method="post">
  <fieldset>
      <label for="email">Email Address</label>
      <input type="email"  class="form-field" name="email" placeholder="Enter Email"><br>
      <label for="password" placeholder="Enter Password">Password</label>
      <input type="password" class="form-field"  name="password"><br>
    <button type="submit" class="btn-primary">Login</button>
  </fieldset>
</form>
</div>
